In [0]:
source_path = "path_to_bronze"
destination_path = "path_to_silver"

In [0]:
dbutils.fs.ls(f"{source_path}")

In [0]:
df = spark.read.format("parquet").load(f"{source_path}/Address/Address.parquet")
df.show()

+---------+--------------------+------------+-----------+----------------+-------------+----------+--------------------+-------------------+
|AddressID|        AddressLine1|AddressLine2|       City|   StateProvince|CountryRegion|PostalCode|             rowguid|       ModifiedDate|
+---------+--------------------+------------+-----------+----------------+-------------+----------+--------------------+-------------------+
|        9|   8713 Yosemite Ct.|        NULL|    Bothell|      Washington|United States|     98011|268af621-76d7-4c7...|2006-07-01 00:00:00|
|       11| 1318 Lasalle Street|        NULL|    Bothell|      Washington|United States|     98011|981b3303-aca2-49c...|2007-04-01 00:00:00|
|       25|    9178 Jumping St.|        NULL|     Dallas|           Texas|United States|     75201|c8df3bd9-48f0-465...|2006-09-01 00:00:00|
|       28|    9228 Via Del Sol|        NULL|    Phoenix|         Arizona|United States|     85004|12ae5ee1-fc3e-468...|2005-09-01 00:00:00|
|       32|   26910 Indela Road|        NULL|   Montreal|          Quebec|       Canada|   H1Y 2H5|84a95f62-3ae8-4e7...|2006-08-01 00:00:00|
|      185|     2681 Eagle Peak|        NULL|   Bellevue|      Washington|United States|     98004|7bccf442-2268-46c...|2006-09-01 00:00:00|
|      297|     7943 Walnut Ave|        NULL|     Renton|      Washington|United States|     98055|52410da4-2778-4b1...|2006-08-01 00:00:00|
|      445|  6388 Lake City Way|        NULL|    Burnaby|British Columbia|       Canada|   V5A 3A6|53572f25-9133-4a8...|2006-09-01 00:00:00|
|      446|   52560 Free Street|        NULL|    Toronto|         Ontario|       Canada|   M4B 1V7|801a1dfc-5125-486...|2005-08-01 00:00:00|
|      447|   22580 Free Street|        NULL|    Toronto|         Ontario|       Canada|   M4B 1V7|88cee379-dbb8-433...|2006-08-01 00:00:00|
|      448|2575 Bloor Street...|        NULL|    Toronto|         Ontario|       Canada|   M4B 1V6|2df6d0ad-0926-4f3...|2007-08-01 00:00:00|
|      449|           Station E|        NULL|Chalk Riber|         Ontario|       Canada|   K0J 1J0|8b5a7729-cb75-430...|2005-08-01 00:00:00|
|      450|   575 Rue St Amable|        NULL|     Quebec|          Quebec|       Canada|       G1R|5f3c345a-6475-41d...|2006-09-01 00:00:00|
|      451|     2512-4th Ave Sw|        NULL|    Calgary|         Alberta|       Canada|   T2P 2G8|49644f1e-6f90-46d...|2006-12-01 00:00:00|
|      452|55 Lakeshore Blvd...|        NULL|    Toronto|         Ontario|       Canada|   M4B 1V6|a358652f-0e00-49e...|2005-09-01 00:00:00|
|      453|     6333 Cote Vertu|        NULL|   Montreal|          Quebec|       Canada|   H1Y 2H7|355681f2-4d9d-452...|2007-09-01 00:00:00|
|      454|3255 Front Street...|        NULL|    Toronto|         Ontario|       Canada|   M4B 1V6|ef4dc57d-8b8b-407...|2007-08-01 00:00:00|
|      455|   2550 Signet Drive|        NULL|     Weston|         Ontario|       Canada|   M9V 4W3|43d582cf-e95f-486...|2006-08-01 00:00:00|
|      456|       6777 Kingsway|        NULL|    Burnaby|British Columbia|       Canada|   V5H 3Z7|2f3b383e-08a5-407...|2006-08-01 00:00:00|
|      457| 5250-505 Burning St|        NULL|  Vancouver|British Columbia|       Canada|   V7L 4J4|93f02c61-783d-4f0...|2006-07-01 00:00:00|
+---------+--------------------+------------+-----------+----------------+-------------+----------+--------------------+-------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import from_utc_timestamp, date_format
from pyspark.sql.types import TimestampType

df = df.withColumn("ModifiedDate", date_format(from_utc_timestamp(df['ModifiedDate'].cast(TimestampType()), "UTC"), "yyyy-MM-dd"))

In [0]:
df.show()

+---------+--------------------+------------+-----------+----------------+-------------+----------+--------------------+------------+
|AddressID|        AddressLine1|AddressLine2|       City|   StateProvince|CountryRegion|PostalCode|             rowguid|ModifiedDate|
+---------+--------------------+------------+-----------+----------------+-------------+----------+--------------------+------------+
|        9|   8713 Yosemite Ct.|        NULL|    Bothell|      Washington|United States|     98011|268af621-76d7-4c7...|  2006-07-01|
|       11| 1318 Lasalle Street|        NULL|    Bothell|      Washington|United States|     98011|981b3303-aca2-49c...|  2007-04-01|
|       25|    9178 Jumping St.|        NULL|     Dallas|           Texas|United States|     75201|c8df3bd9-48f0-465...|  2006-09-01|
|       28|    9228 Via Del Sol|        NULL|    Phoenix|         Arizona|United States|     85004|12ae5ee1-fc3e-468...|  2005-09-01|
|       32|   26910 Indela Road|        NULL|   Montreal|          Quebec|       Canada|   H1Y 2H5|84a95f62-3ae8-4e7...|  2006-08-01|
|      185|     2681 Eagle Peak|        NULL|   Bellevue|      Washington|United States|     98004|7bccf442-2268-46c...|  2006-09-01|
|      297|     7943 Walnut Ave|        NULL|     Renton|      Washington|United States|     98055|52410da4-2778-4b1...|  2006-08-01|
|      445|  6388 Lake City Way|        NULL|    Burnaby|British Columbia|       Canada|   V5A 3A6|53572f25-9133-4a8...|  2006-09-01|
|      446|   52560 Free Street|        NULL|    Toronto|         Ontario|       Canada|   M4B 1V7|801a1dfc-5125-486...|  2005-08-01|
|      447|   22580 Free Street|        NULL|    Toronto|         Ontario|       Canada|   M4B 1V7|88cee379-dbb8-433...|  2006-08-01|
|      448|2575 Bloor Street...|        NULL|    Toronto|         Ontario|       Canada|   M4B 1V6|2df6d0ad-0926-4f3...|  2007-08-01|
|      449|           Station E|        NULL|Chalk Riber|         Ontario|       Canada|   K0J 1J0|8b5a7729-cb75-430...|  2005-08-01|
|      450|   575 Rue St Amable|        NULL|     Quebec|          Quebec|       Canada|       G1R|5f3c345a-6475-41d...|  2006-09-01|
|      451|     2512-4th Ave Sw|        NULL|    Calgary|         Alberta|       Canada|   T2P 2G8|49644f1e-6f90-46d...|  2006-12-01|
|      452|55 Lakeshore Blvd...|        NULL|    Toronto|         Ontario|       Canada|   M4B 1V6|a358652f-0e00-49e...|  2005-09-01|
|      453|     6333 Cote Vertu|        NULL|   Montreal|          Quebec|       Canada|   H1Y 2H7|355681f2-4d9d-452...|  2007-09-01|
|      454|3255 Front Street...|        NULL|    Toronto|         Ontario|       Canada|   M4B 1V6|ef4dc57d-8b8b-407...|  2007-08-01|
|      455|   2550 Signet Drive|        NULL|     Weston|         Ontario|       Canada|   M9V 4W3|43d582cf-e95f-486...|  2006-08-01|
|      456|       6777 Kingsway|        NULL|    Burnaby|British Columbia|       Canada|   V5H 3Z7|2f3b383e-08a5-407...|  2006-08-01|
|      457| 5250-505 Burning St|        NULL|  Vancouver|British Columbia|       Canada|   V7L 4J4|93f02c61-783d-4f0...|  2006-07-01|
+---------+--------------------+------------+-----------+----------------+-------------+----------+--------------------+------------+
only showing top 20 rows

Date Transformations for tables

In [0]:
table_name = []
for i in dbutils.fs.ls(f"{source_path}"):
    table_name.append(i.name.split("/")[0])

In [0]:
for i in table_name:
    path = f'{source_path}'+ i + '/' + i + '.parquet'
    df = spark.read.format("parquet").load(path)
    column = df.columns

    for col in column:
        if "Date" in col or "date" in col:
            df = df.withColumn(col, date_format(from_utc_timestamp(df[col].cast(TimestampType()), "UTC"), "yyyy-MM-dd"))
    output_path = f'{destination_path}'+ i + '/'
    df.write.format('delta').mode('overwrite').save(output_path)